<p id="notice"><%= notice %></p>

<h1>Testcategories</h1>

<table>
  <thead>
    <tr>
      <th>Testname</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @testcategories.each do |testcategory| %>
      <tr>
        <td><%= testcategory.testname %></td>
        <td><%= link_to 'Show', testcategory %></td>
        <td><%= link_to 'Edit', edit_testcategory_path(testcategory) %></td>
        <td><%= link_to 'Destroy', testcategory, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Testcategory', new_testcategory_path %>
